################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MyApp/bin/Debug/netcoreapp2.2
/MyApp/node_modules
/MyApp/obj
/MyAppBLL/bin/Debug/netstandard2.0
/MyAppBLL/obj/Debug/netstandard2.0
/MyAppDAL/bin/Debug/netstandard2.0
/MyAppDAL/obj/Debug/netstandard2.0
/MyAppModel/bin/Debug/netstandard2.0
/MyAppModel/obj/Debug/netstandard2.0
/.vs/MyApp/v16
/MyAppCommon/bin/Debug/netstandard2.0
/MyAppDAL/obj
/MyAppCommon/obj/Debug/netstandard2.0
